@import "/vendor/beaker-app-stdlib/css/common.css";
@import "/vendor/beaker-app-stdlib/css/fontawesome.css";

body {
  font-size: 13px;
}

.start-wrapper {
  width: 460px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 100px;
}

beaker-app-header-search {
  margin: 0 auto 80px;
  display: block;
  width: 600px;
}

start-pinned-bookmarks,
start-flyers,
start-suggested-follows {
  display: block;
  margin-bottom: 60px;
}

@media (min-width: 640px) {
  .start-wrapper {
    width: 580px;
  }
}

@media (min-width: 740px) {
  .start-wrapper {
    width: 700px;
  }
}

@media (min-width: 900px) {
  .start-wrapper {
    width: 830px;
  }
}

@media (min-width: 1100px) {
  .start-wrapper {
    width: 950px;
  }
}